.contenedor1 {
    color: black;
    background-color: #9ACD32;
    font-style: italic;
}

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: arial;
}

ul {
    list-style: none;
    display: block;
}

ul li {
    float: left;
    background-color: #2e2e2e
}

div.general {
    padding: 15px 40px;
}

div.menu {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
    background-color: green;
}

.cabecera {
    background-color: mediumseagreen;
    color: black
}

.fotter {
    background-color: saddlebrown
}

#main {
    background-color: darkkhaki
}

#table {
    background-color: aquamarine
}

h1 {
    color: brown;
    font-size: 23
}

h2 {
    color: darkblue
}

h3 {
    color: black;
}

h4 {
    color: darkkhaki
}

a:link {
    background-color: blue;
    color: #ff0000;
}

a :visited {
    background-color: burlywood;
    color: #00ff00;
}

a:hover {
    background-color: #ffffff;
    color: #000066;
    text-decoration: none;
}