body {
    width: 60cm;
    margin: 0 auto;
}

#enlaces {
    width: 16cm;
    height: 100cm;
}

#imagen {
    width: 44cm
}

#enlaces,
#imagen {
    float: left;
    padding: 0;
    margin: 0;
}